.place-card {
  width: 100%;
  /* max-width: 393px; */
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  overflow: hidden;
}

.place-image {
  position: relative;
  height: 200px;
}

.place-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  padding: 6px 10px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
}

.place-content {
  padding: 16px;
}

.place-content h3 {
  margin: 0;
  font-size: 18px;
}

.type {
  color: #666;
  font-size: 14px;
}

.location {
  margin-top: 6px;
  font-size: 14px;
  color: #444;
}
